input 
{ 
    padding: 50px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.input 
{ 
    padding: 10px;
    margin-top: 15px; 
    margin-right: 10px;
    margin-bottom: 25px;
    margin-left: 35px;
}
.txtin
{ 
    padding: 25px;
    margin-top: 15px; 
    margin-right: 10px;
    margin-bottom: 25px;
    margin-left: 35px;
}
label {
    padding: 10px;
    margin-top: 15px; 
    margin-right: 10px;
    margin-bottom: 25px;
    margin-left: 35px;
}
body {
    background-color:white;
}
li a {
    padding: 50px;
    margin-top: 10px; 
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
ul#menulist {
	
	padding:10px 10px;
	margin-bottom:5px;
	margin-left:10px;
		
	}

ul#menulist li {
	display:block;
	margin-right:10px;
	padding-right:20px;
	}

ul#menulist li a {
    	background-color: #ffffff;
    	padding: 10px 10px;
    	text-decoration: none;
    	color: #696969;
  	display: block;
    	vertical-align:top;
	margin-right:3px;
}

ul#menulist li a:hover {
    color: white;
    background-color: black;
} 

ul#horizontal_list {
        padding:10px 10px;
	margin-bottom:5px;
	margin-left:10px;
}

ul#horizontal_list li {
    display:inline;
    
}

ul#horizontal_list li a{
    display:inline;
    text-decoration: none;
    background-color: #ffffff;
}

ul#horizontal_list li a:hover {
    color: white;
    background-color: black;
} 
